.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	height: 100vh;
	max-width: 1360px;
	padding: 20px;
}

.profile {
	display: flex;
	flex-direction: column;
	background: #f1f6fa;
	padding: 20px;
	width: 300px;
	font-size: 13px;
	border-radius: 10px;
	margin-right: 20px;
}

.profile__avatar {
	border-radius: 50%;
	width: 260px;
	height: 260px;
	margin-bottom: 35px;
}

.profile__name {
	border-top: 1px solid #000;
	border-bottom: 1px solid #c4c4c4;
	padding: 7px 0;
	font-size: 22px;
	margin-bottom: 35px;
}

.profile__info {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	list-style-type: none;
	margin-bottom: 25px;
}

.profile__info li {
	display: flex;
	flex-direction: row;
	align-items: start;
	margin-bottom: 15px;
}
.profile__info li:last-child {
	margin-bottom: 0px;
}

.profile__info-type {
	width: 100px;
	font-weight: 800;
	margin-right: 10px;
}

.profile__info-text {
	width: 150px;
}

.profile__title {
	font-weight: 800;
	margin-bottom: 8px;
}

.social__list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-bottom: 75px;
}

.social__list-item {
	margin-right: 17px;
}

.social__list-item:last-child {
	margin-right: 0px;
}

.profile__target-text {
	width: 260px;
}

.characteristics {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 30px;
	border: 1px solid #e4ecf2;
}

.characteristics__image {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.characters__wrap-title {
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 8px;
}

.characters__wrap-text {
	margin-bottom: 10px;
	font-size: 15px;
}

.characters__wrap-text:last-child {
	margin-bottom: 0;
}

.characters__wrap-text span {
	font-weight: 600;
}

.wrap-info-items {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.user-info__item {
	padding: 20px;
	border: 1px solid #e4ecf2;
	margin-right: 20px;
	min-width: 240px;
}

.user-info__item:last-child {
	margin-right: 0;
}

.user-info__image {
	width: 25px;
	height: 25px;
	margin-bottom: 12px;
}

.user-info__title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}

.user-info__text {
	font-size: 12px;
	margin-bottom: 10px;
}
.user-info__text:last-child {
	margin-bottom: 0;
}

.wrap-quote {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 1px solid #e4ecf2;
	margin-top: 20px;
	padding: 30px;
	background: #f0f9ff;
}

.wrap-quote img {
	width: 23px;
	height: 16px;
	margin-right: 15px;
}

.wrap-quote p {
	font-size: 17;
}

.border-green {
	border-top: 2px solid #8fcf27;
}

.border-red {
	border-top: 2px solid #cf2727;
}

.border-yellow {
	border-top: 2px solid #f4bf00;
}

.border-light-blue {
	border-top: 2px solid #19e5e5;
}

.border-blue {
	border-top: 2px solid #274ccf;
}

@media (max-width: 1200px) {
	.wrap-info-items {
		flex-wrap: wrap;
	}
	.user-info__item {
		margin-right: 0px;
		margin-bottom: 20px;
		min-width: 100%;
	}
	.user-info__item:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 800px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px;
	}
	.profile {
		width: 100%;
		align-items: center;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.profile__name {
		width: 260px;
		text-align: center;
	}
}

@media (max-width: 480px) {
	.main {
		padding: 20px;
	}
	.profile__avatar {
		height: 160px;
		width: 160px;
	}
}
